.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 300px auto;

    .grid-item {
        padding: 1.4em;

        &:first-child {
            color: white;
            background-color: $primary;
        }
    }
}
